<h1>Editing student</h1>

<%= render 'form' %>

<div class="link">
  <%= link_to 'Back', students_path, class: "btn primary" %>
  <%= link_to 'Show', student_path(@student), class: "btn primary" %>
</div>
