/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require auth-buttons
 *= require formtastic-bootstrap
 *= require formtastic-form
 *= require dziennik-lekcyjny
 *= require students
 *= require users
 *= require_self
*/

.topbar .pull-right {
  margin-top: 6px;
}
 .pull-right .logged {
  color: #FFD91C;
  margin-right: 1em;
}

.disabled .rank, .disabled .full_name {
  font-weight: bold;
  font-size: 140%;
}

.disabled .rank {
  color: red;
  text-align: right;
}

.disabled .full_name {
  color: #008;
  text-align: left;
  margin-left: 50px;
}
