// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$presenceColor: #94190D;

a {
  color: black; }
.red, a.red {
  color: red; }
.green, a.green {
  color: green; }
.blue, a.blue {
  color: blue; }

.unknown, a.unknown {
  color: #94190D; }

.today {
  color: $presenceColor; }

.link {
  margin-top: 3em;
  margin-left: 2em;
  clear: both; }

// buźki
.presence, .absences {
  font-size: 160%;
}

.index {
  .student {
     .btn {
       margin-bottom: .25em; }
     .full-name, .presence, .absences {
        float: left; }
     .full-name {
        a {
          text-decoration: none; } }
     .presence {
        cursor: pointer;
        margin-right: .25em;
        margin-top: -.1em;
        a {
          text-decoration: none;
          color: $presenceColor; } }
     .absences {
        margin-left: .5em;
        position: relative;
        top: -0.1ex; }
     .links {
        float: right;
        a {
          margin-left: 0.5em;
          text-decoration: none;
          color: black; } } } }

.show {
  font-size: 140%;
  .name {
    display: inline-block;
    text-align: right;
    padding-right: 1em;
    width: 6em;
  }
  .attribute {
    margin-top: .75em;
    .comments {
      line-height: 140%;
      margin-top: -1.2em; // jak wyliczyć tę poprawkę?
      margin-left: 6em + 1em;
    }
  }
  .absences {
    font-size: 100%;
    margin-left: 2em;
    color: $presenceColor;
  }
  .links {
    margin-top: 3em;
    margin-left: 0;
  }
}

// czyszczenie: użyć operatora &

.delete {
  .student {
    font-size: 140%;
    .link { margin: -.2em 1em .5em 0; }
    .absences { margin-left: 1em; }
    .link, .full-name, .absences { float: left; }
  }
}

#rank {
  display: inline-block;
  width: 2.5em;
  margin-left: 4em;
  color: red;
}

// oceny

.bdb {
  background-color: #94190D;
}

.db {
  background-color: #FD6300;
}

.dst {
  background-color: #FFD91C;
}

.ndst {
  background-color: #D0D90C;
}
