<a class="brand" href="#">Dziennik lekcyjny</a>
<ul class="nav">
  <li class="active"><a href="http://tao.inf.ug.edu.pl">Home</a>
  <li><%= link_to "About", root_path %>
</ul>
<form action="" class="pull-right">
  <button class="btn" type="submit">Sign in through GitHub</button>
</form>
